# 
# @see https://bjw-s-labs.github.io/helm-charts/docs/common-library/
#
controllers:
  main:
    type: statefulset
    replicas: 1

    containers:
      main:
        image:
          repository: analogic/poste.io
          tag: "2"
          pullPolicy: Always
        # See [image docs](https://poste.io/doc/getting-started#download)
        env:
          # Timezone settings for correct datetime
          TZ: "Europe/Prague"
          # To disable all redirects to encrypted HTTP, useful if you are using some kind of reverse proxy (put this argument before image name!)
          HTTPS: "OFF"
          # Custom HTTP port. Note that you will need to handle Let's Encrypt requests on port 80, so if you're using a reverse proxy setup, you'll need to forward the /.well-known/ folder to this port.
          HTTP_PORT: "8080"
          # Custom HTTPS port
          HTTPS_PORT: "4433"
          # To disable ClamAV, it is useful for low mem usage
          DISABLE_CLAMAV: "TRUE"
          # To disable Rspamd, it is useful for low mem usage.
          DISABLE_RSPAMD: "TRUE"
          # To disable Roundcube webmail.
          DISABLE_ROUNDCUBE: "TRUE"
          # Elasticsearch integration (PRO only) https://poste.io/doc/elasticsearch
          ELASTICSEARCH: "123.123.123.123:9200"
        pod:
          resources:
            requests:
              memory: 1Gi
              cpu: 100m

defaultPodOptions:
  # see https://poste.io/doc/network-schemes
  hostNetwork: true
  #hostname: "example"
  # see https://kubernetes.io/docs/tasks/network/customize-hosts-file-for-pods/
  hostAliases: []

service:
  main:
    controller: main
    ports:
      http:
        port: 3180

ingress:
  enabled: false
  #className: "nginx"
  #annotations: 
  #  cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: poste-io.local
      paths:
        - path: /
          pathType: Prefix
  tls: 
    - secretName: poste-io-tls
      hosts:
      - poste-io.local

# TODO api-gateway config
#route:

persistence:
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /data
  log:
    type: emptyDir
    sizeLimit: 100Mi
    globalMounts:
      - path: /data/log
  localtime:
    type: hostPath
    hostPath: /etc/localtime
    globalMounts:
      - path: /etc/localtime
        readOnly: true

  # -- should selec a node if hostNetwork=true
  # [[ref]](https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector)
  nodeSelector: {}

# old ---------------------------

# deploy:
  
#   network:
#     hostNetwork: true
#     hostAliases:
#       - ip: "127.0.0.1"
#         hostnames:
#           - "aurora"
#           - "aurora.local"
#   # this define both volumes & volumeMounts
#   persistence:
#     data:
#       # volumeMount definition
#       mnt:
#         mountPath: /data
#       # volume definition replaces default (subchart can override default config)
#       vol:
#       # default volume definition
#       defaultVol:
#         persistentVolumeClaim:
#           claimName: poste-io-data
#     logs:
#       mnt:
#         mountPath: /data/log
#       # volume definition replaces default (subchart can override default config)
#       vol:
#       # default volume definition
#       defaultVol:
#         emptyDir:
#           sizeLimit: 100Mi
#     localtime:
#       mnt:
#         mountPath: /etc/localtime
#         readOnly: true
#       # volume definition replaces default (subchart can override default config)
#       vol:
#       # default volume definition
#       defaultVol:
#         hostPath:
#           path: /etc/localtime
